<div class="password-container">
  <input
    type="password"
    placeholder="Enter your password"
    [(ngModel)]="password"
    (input)="checkPasswordStrength()"
  />
  <div class="strength-indicator">
    <div
      class="strength-bar"
      [ngClass]="{
        grey: strengthColor[0] === 'grey',
        red: strengthColor[0] === 'red',
        yellow: strengthColor[0] === 'yellow',
        green: strengthColor[0] === 'green'
      }"
    ></div>
    <div
      class="strength-bar"
      [ngClass]="{
        grey: strengthColor[1] === 'grey',
        red: strengthColor[1] === 'red',
        yellow: strengthColor[1] === 'yellow',
        green: strengthColor[1] === 'green'
      }"
    ></div>
    <div
      class="strength-bar"
      [ngClass]="{
        grey: strengthColor[2] === 'grey',
        red: strengthColor[2] === 'red',
        yellow: strengthColor[2] === 'yellow',
        green: strengthColor[2] === 'green'
      }"
    ></div>
  </div>
</div>
